<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link  rel="stylesheet" href="/css/styles.css">
    <title>DETALLE</title>
</head>
<body>
    <h1>DETALLE</h1>
    <h2><%= usuario %>  </h2>
    <% if(privilegio == '1') { %>
        <h2>Admin</h2>
        <% } else { %>
            <h2>Guest</h2>  
            <% } %>   

    <h2> <%= pelicula.title %>  </h2>
    <h2> <%= pelicula.id %>  </h2>
    <% if (pelicula.generos) { %> 
    <h2><%= pelicula.generos.name %>  </h2>
    <% } else {%>
        <h2>SIN GENERO</h2> 
        <% } %> 

        <ul>
            <% for(let i=0; i < pelicula.actores.length; i++) { %>

                <li>
                    <%= pelicula.actores[i].first_name %>
                    <%= pelicula.actores[i].last_name %> 
                </li>

                <% } %> 
        </ul>
</body>
</html>